.mission_title {
  color: white;
}

.mission_bg {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.mission_logo {
  width: 12vmin;
  position: absolute;
  right: 3vmin;
  top: 3vmin;
  z-index: 2;
}

.mission_text {
  color: white;
  width: 61.8%;
  font-size: 6vmin;
  line-height: 1.3;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  text-shadow: 0 0 5px #000;
}

@media (min-aspect-ratio: 1/2) {
  .mission_text {
    font-size: 4vmin;
  }
}

.mission_subtitle {
  color: white;
  width: 100%;
  z-index: 2;
  position: relative;
  width: 61.8%;
  margin: 10vmin auto;
  font-size: 6vmin;
}
